<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <!-- (B) FETCH USERS VIA AJAX -->

<script type="text/javascript">
var value = "[[${dataPoints}]]";
document.write(value)

</script>

<script type="text/javascript">

window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer", {
		title:{
			text: "My First Chart in CanvasJS"              
		},
		data: [              
		{
			// Change type to "doughnut", "line", "splineArea", etc.
			type: "line",
			dataPoints: [
				[[${dataPoints}]]
			]
			
		}
		]
	});
	chart.render();
}
</script>

</head>
<body>


<div id="demo"></div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>